.result {
  display: none;
}


.fakeButton {
  padding: 4px;
  color: white;
  background-color: #ffcccc;
  border: 2.5px solid #990000;
  border-radius: 5px;
}

.clickable {
  color: black;
  cursor: pointer;
}
